    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <a href="#">sitemap</a>
          <a href="#">terms</a>
          <a href="#">privacy</a>
          <a href="#">disclaimer</a>
        </div>
        <div class="footer-right">
          <span class="footer-copyright">copyright</span>
          &#169;
          <script type="text/javascript">
          var creditsyear = new Date();
          document.write(creditsyear.getFullYear());
          </script>
          <a expr:href='data:blog.homepageUrl'>sainskomputer</a>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="./assets/js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="./assets/js/master.js"></script>
</html>
