    <nav>
      <div class="nav-container">
        <div class="nav-left">
          <a href="/"><img src="./assets/img/logo.png" alt="logo-sainskomputer"/></a>
          <form action="" method="post">
            <input type="text" name="q" placeholder="search here..."  value="search here..." autocomplete="off"/>
            <button type="submit" name="search" hidden="hidden"></button>
          </form>
          <div class="navabar-icon" onclick="$('.nav-right').toggle(100);">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0
                2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2
                2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
            </svg>
          </div>
        </div>
        <div class="nav-right">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <p>home</p>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52
                2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0
                14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09
                6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <p>about</p>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07
                0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58
                8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78
                0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21
                4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <p>news</p>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path fill="none" d="M24 0H0v24h24V0zm0 0H0v24h24V0zM0 24h24V0H0v24z"/>
                <path d="M17.66 8L12 2.35 6.34 8C4.78 9.56 4 11.64 4 13.64s.78
                4.11 2.34 5.67 3.61 2.35 5.66 2.35 4.1-.79 5.66-2.35S20 15.64
                20 13.64 19.22 9.56 17.66 8zM6 14c.01-2 .62-3.27 1.76-4.4L12
                5.27l4.24 4.38C17.38 10.77 17.99 12 18 14H6z"/>
            </svg>
            <p>tutorial</p>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2
                9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <p>category</p>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2
                2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5
                1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
            </svg>
            <p>request</p>
          </a>
        </div>
      </div>
    </nav>
    <header>
      <div class="header-container">
        <div class="header-download">
          <a href="#" target="_blank">
            <button type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M9 1C4.58 1 1 4.58 1 9s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm3.5
                  11H6c-1.38 0-2.5-1.12-2.5-2.5S4.62 7 6 7h.18C6.6 5.84 7.7 5 9 5c1.66 0
                  3 1.34 3 3h.5c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
                  <path d="M0 0h18v18H0z" fill="none"/>
              </svg>
              <span>Download Now</span>
            </button>
          </a>
        </div>
        <p>our image fact, including 200 fatc</p>
        <div class="header-partner">
          <a href="#" target="_blank"><img src="./assets/img/petanikode.png" alt="petanikode"/></a>
          <a href="#" target="_blank"><img src="./assets/img/codepolitan.png" alt="codepolitan"/></a>
          <a href="#" target="_blank"><img src="./assets/img/linuxsec.png" alt="linuxsec"/></a>
          <a href="#" target="_blank"><img src="./assets/img/indoxploit.png" alt="indoxploit"/></a>
        </div>
      </div>
    </header>
