# allowed to load your resource
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "https://cdn.sainskomputer.com/"
    </IfModule>
</FilesMatch>
