/** Proxima Nova **/

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova ScOsf Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Alt Regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Semibold-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima Nova Alt Bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('Proxima Nova Alt Black-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
