/** https://cdn.sainskomputer.com/fonts/proxima-nova/**/

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/ScOsf-Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/Thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/Regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/Semibold-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/Bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('https://cdn.sainskomputer.com/fonts/proxima-nova/Black-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
